<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 작성</title>
  <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
<h2>글쓰기</h2>
<form th:action="@{/community/write}" method="post">
  <label>카테고리:
    <select name="categoryId" required>
      <option th:each="category : ${categories}"
              th:value="${category.id}"
              th:text="${category.name}"></option>
    </select>
  </label>
  <br/>
  <label>제목:
    <input type="text" name="title" required>
  </label>
  <br/>
  <label>내용:
    <textarea name="content" required></textarea>
  </label>
  <br/>
  <button type="submit">작성</button>
</form>
<script th:src="@{/js/dropdown.js}"></script>
<script th:src="@{/js/logout.js}"></script>
</body>
</html>
