<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원정보 수정</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/mypage.css}" />
    <style>
        .readonly {
            background-color: #e0e0e0;
            pointer-events: none;
        }
        input {
            margin-bottom: 10px;
            display: block;
        }
    </style>
</head>
<body>

<!--<p th:text="'현재 userType: ' + ${userType}"></p>-->
<div th:replace="~{fragments/header :: header(role=${role})}"></div>

<h2>회원정보 수정</h2>
<form method="post" th:object="${company}">
    <input type="hidden" th:field="*{id}" />

    <label>이메일</label>
    <input type="text" class="readonly" th:field="*{email}" readonly />

    <label>이름</label>
    <input type="text" class="readonly" th:field="*{name}" readonly />

    <label>사업자 등록번호</label>
    <input type="text" class="readonly" th:field="*{businessNo}" readonly />

    <label>회사 전화번호</label>
    <input type="text" th:field="*{phone}" />

    <label>회사 주소</label>
    <input type="text" th:field="*{address}" />

    <label>산업군</label>
    <input type="text" th:field="*{industry}" />

    <label>설립연도</label>
    <input type="text" class="readonly" th:field="*{yearFound}" readonly /> 년

    <label>직원 수</label>
    <input type="number" th:field="*{headcount}" /> 명

    <label>연 매출</label>
    <input type="number" th:field="*{annualRevenue}" /> 원

    <label>영업 이익</label>
    <input type="number" th:field="*{operatingIncome}" /> 원

    <label>작년 채용 공고 수</label>
    <input type="number" th:field="*{jobsLastYear}" /> 개

    <button type="submit">수정하기</button>
</form>
</body>
</html>