<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>알림창</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/notification.css}">
</head>
<body>

<div th:replace="fragments/header :: header(role=${role})"></div>

<h2 th:text="${notification.title}">제목</h2>
<p th:text="${notification.content}">내용</p>
<p><strong>보낸 기업:</strong> <span th:text="${companyName}">기업명</span></p>
<a th:href="@{/notification(tab='read')}">← 돌아가기</a>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/js/dropdown.js}"></script>
<script th:src="@{/js/logout.js}"></script>

</body>
</html>