<!-- templates/fragments/header.html -->
<div th:fragment="header">
  <header class="header">
    <a class="logo" th:href="@{/}">MatchingBot</a>
    <nav class="nav">
      <ul>
        <li><a href="/auth/login">로그인</a></li>
        <li class="dropdown">
          <button>계정 생성하기</button>
          <ul class="dropdown-menu">
            <li><a href="#">개인 회원</a></li>
            <li><a href="#">기업 회원</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <button>Menu</button>
          <ul class="dropdown-menu">
            <li><a href="#">채용 공고</a></li>
            <li><a href="#">커뮤니티</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
</div>
