<!-- templates/fragments/header.html -->

<div th:fragment="header(userType)" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
    <header class="header">
        <div class="logo">
            <a th:href="@{/}" class="logo-link">MatchingBot</a>
        </div>

        <div class="nav">

            <!-- 회원 -->
            <div sec:authorize="isAuthenticated()">
                <a href="javascript:void(0)" class="nav-link" onclick="logout()">로그아웃</a>
                <a th:href="@{/community/list}" class="nav-link">커뮤니티</a>
                <!-- 개인회원 전용 마이페이지 -->
                <a th:href="@{/mypage/user}" class="nav-link" sec:authorize="hasRole('USER')">개인페이지</a>
                <!-- 기업회원 전용 마이페이지 -->
                <a th:href="@{/mypage/company}" class="nav-link" sec:authorize="hasRole('COMPANY')">기업페이지</a>
            </div>

            <!-- 비회원  -->
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/auth/login}" class="nav-link">로그인</a>
                <a th:href="@{/job/list}" class="nav-link">커뮤니티</a>
                <div class="dropdown-wrapper">
                    <button class="menu-button green" onclick="toggleDropdown(this)">계정 생성하기</button>
                    <ul class="dropdown green">
                        <li><a th:href="@{/auth/register-user}">개인 회원</a></li>
                        <li><a th:href="@{/auth/register-company}">기업 회원</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>
