
body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background: #f9f9f9;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #103254;
  padding: 1rem 2rem;
  color: white;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Footer */
.footer {
  background: #eee;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  margin-top: 3rem;
}





