html, body {
    height: 100%;
}

/* 전체 페이지를 세로로 정렬하는 wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background: #f9f9f9;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #103254;
  padding: 1rem 2rem;
  color: white;
}
.logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

/* 메인 콘텐츠는 늘어나게 */
.main-content {
  flex: 1;
}

/* Footer */
.footer {
  background: #eee;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  margin-top: 3rem;
}





