
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #103254;
    padding: 1rem 2rem;
    color: white;
}

.nav-links a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.username {
    margin-left: 15px;
    font-weight: bold;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    margin: 50px auto;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    max-width: 1000px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.register-btn {
    background-color: #103254;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #103254;
}

.job-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.job-table th, .job-table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.job-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.nav-button {
    background-color: #103254;
    color: white;
    border: none;
    padding: 6px 14px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.update-button {
    background-color: green;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #103254;
}

.view-link {
    color: #103254;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.delete-button {
    background-color: brown;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.delete-button:hover {
    background-color: brown;
}

.pag-button{
    background-color: #103254;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.mypage-button {
    background-color: #103254;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}