<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관심 이력서</title>
    <link rel="stylesheet" th:href="@{/css/mypage.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
<!--<p th:text="'현재 userType: ' + ${userType}"></p>-->
<div th:replace="~{fragments/header :: header(role=${role})}"></div>

<div class="container">
    <h2>관심 이력서</h2>
    <div class="resume-header">
        <input type="checkbox" />
        <button class="delete-btn">삭제</button>
    </div>
    <table class="resume-table">
        <thead>
        <tr>
            <th>작성자</th>
            <th>이력서 제목</th>
            <th>작성 날짜</th>
            <th>상세 보기</th>
            <th>즐겨찾기</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="5" class="no-data">등록된 관심기업이 없습니다.</td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/js/dropdown.js}"></script>
<script th:src="@{/js/logout.js}"></script>

</body>
</html>